// @import './sassy/sassy.component.scss';
// @mixin circle ($width, $height , $color, $radius){
//     width: $width;
//     height: $height;
//     background: $color;
//     border-radius: $radius;
// }


// .circle-red {
//     @include circle (359px,350px,red, 100%);
//  }
// @import "chroma";
    // .transparent-blue {
    //     filter: chroma(color=#ff5cc9);
    // }


    $primary-box-color: #112055;
    $primary-box-text: #fff;
    $primary-box-lighter: #357b70;
    $primary-box-darker: #357b70;
    
    $secondary-box-color: #4f9d92;
    $secondary-box-text: #000;
    
    $padding : 10px;
    $border-rad: 5px;
    $shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
  
  
  $primary-box-colors: #112055;
  $primary-box-color-lighter: lighten($primary-box-colors, 20%);
  $primary-box-color-darker: darken($primary-box-colors, 10%); 
  
  .box__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    font-family: sans-serif;
    div:hover {
      box-shadow: none;
    }
  }
  
  %box-shape{
    padding: $padding;
    border-radius: $border-rad;
    box-shadow: $shadow;
    
  }
  
  .box-primary {
    @extend %box-shape;
    background-color: $primary-box-color;
    color: $primary-box-text;
  }
  
  .box-primary-lighter {
    @extend %box-shape;
    background-color: $primary-box-color-lighter;
  }
  
  .box-primary-darker {
    @extend %box-shape;
    background-color: $primary-box-color-darker;
    
    color: $primary-box-text;
  }
  
  .box-secondary {
    @extend %box-shape;
    background-color: $secondary-box-color;
    color: $secondary-box-text;
  }



 